In [18]:
# Data Wrangling, I
# Perform the following operations using Python on any open source dataset (e.g., data.csv)
#    1. Import all the required Python Libraries.
#    2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear 
#       description of the data and its source (i.e., URL of the web site).
#    3. Load the Dataset into pandas dataframe.
#    4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
#       function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
#       Check the dimensions of the data frame.
#    5. Data Formatting and Data Normalization: Summarize the types of variables by checking the 
#       data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. 
#       If variables are not in the correct data type, apply proper type conversions.
#    6. Turn categorical variables into quantitative variables in Python.

In [19]:
import pandas as pd

In [20]:
data = pd.read_csv('Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Data Preprocessing

In [21]:
# checking for null values
data.isnull().sum()
# No null values

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [22]:
# Initial statistics
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [23]:
# Checking types of variables.
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [24]:
data.info() # Gives information about the entire dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [25]:
# Checking dimensions
data.shape
# 150 rows, 6 columns

(150, 6)

In [26]:
data.size # Gives total number of data in entir dataset.

900

In [27]:
data.ndim # Shows dimensions of data i.e 1D/2D/3D etc.

2

Data Formatting and Data Normalization

In [28]:
#1:
# data.info()

In [29]:
#2:
#data['Id'] = data['Id'].astype(object)

Turn categorical variables into quantitative variable

In [30]:
# Turn categorical variables into quantitative variables
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [31]:
species_mapping = {
    'Iris-setosa': 0,
    'Iris-versicolor': 1,
    'Iris-virginica': 2
}

# Replace species with numerical values
data['Species'] = data['Species'].map(species_mapping)

In [32]:
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]